.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border-radius: 10px;
}

.modal-content {
    position: relative;

}

#modal-message{
    padding: 20px;
    padding-top: 30px;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-radius: 50%;
    padding: 1px;
    display: none;
    background-color: #ff5151;
    color: white;
    font-weight: bold;
    padding-inline: 6px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
